
<div class="container">
   <div class="alert alert-info alert-dismissable"> Choose date which you want the log details.</div>
    <div class="row">
    <div class='col-sm-3'></div>
        <div class='col-sm-6'>
         
            <div class="form-group">
            <label class="control-label col-sm-2">Date :</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' id="date_selected" class="form-control" value="<%= @date %>" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datepicker();
            });
        </script>
    </div>
    <%= link_to "Add Activity", "#", id: "add_activity", class: "btn btn-success btn-xs", style: "float: right;margin-bottom: 5px;" %>

    <div id="activity_list" style="margin-bottom: 100px;">
    <%= render "activity_table" %>
    </div>
</div>

<script type="text/javascript">

$(function() {
  $('#add_activity').click(function() {
    $('#activity_table tr:last').after('<tr style="background: burlywood"><td id="activity_name" contenteditable="true">New Activity</td><td id="date_from" contenteditable="true"></td><td id="date_to" contenteditable="true"></td><td><button type="button" onClick = "saveActivity()" style="float: right;" class="btn btn-primary btn-xs">Save Activity</button> </td></tr>');
    return false;
  });

  $("#date_selected").change(function(){
    var date = {};
    date["date"] = $(this).val();
    $.ajax({
        url: "<%= url_for(:controller => :home, :action => :chage_date) %>",
        data: date,
        success: function(html){
            $("#activity_list").html(html);
            $(".datepicker-dropdown").remove();
        }
    });
  })
});

function saveActivity(){
    var activity = {};
    activity["activity"] = {};
    activity["activity"]["activity_name"] = $("#activity_name").text();
    activity["activity"]["date_selcted"] = $("#date_selected").val();
    activity["activity"]["date_from"] = $("#date_from").text();
    activity["activity"]["date_to"] = $("#date_to").text();

    $.ajax({
        url: "<%= url_for(:controller => :home, :action => :save_activity) %>",
        type: "POST",
        data: activity
    });

}

function deleteActivity(id){
    $.ajax({
        url: "<%= url_for(:controller => :home, :action => :delete_activity) %>",
        type: "POST",
        data: {
            id : id,
            date: $("#date_selected").val()
        }
    });
}
    
</script>